.popup__name {
  width: 358px;
  height: 30px;
  padding: 0;
  margin: 0 auto;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__name:focus {
  outline: none;
}

.popup__name::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
}

@media (max-width: 640px) {
  .popup__name {
    width: 238px;
    height: 46px;
    margin-bottom: 10px;
  }
}
