.profile__add {
  width: 150px;
  height: 50px;
  padding: 0;
  border: 2px solid #fff;
  background-color: #000000;
  cursor: pointer;
  background-image: url(../../../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s linear;
}

.profile__add:hover {
  opacity: 0.6;
  transition: 0.3s linear;
}

@media (max-width: 660px) {
  .profile__add {
    width: 282px;
  }
}
